<section id="embedded-why-rust" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>
        {{fluent "why-rust"}}
      </h2>
      <div class="highlight"></div>
    </header>
    
    <div class="flex-none flex-l flex-row">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l" id="powerful-static-analysis">
        <div class="v-top tc-l">
          <img src="/static/images/microscope.svg" alt="{{fluent "embedded-pitch-analysis-alt"}}"
            class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            {{fluent "embedded-pitch-analysis-heading"}}
          </h3>
          <p class="flex-grow-1">
            {{fluent "embedded-pitch-analysis-description"}}
          </p>
          <a href="https://docs.rust-embedded.org/book/static-guarantees/" class="button button-secondary">{{fluent "embedded-learn-more-link"}}</a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l" id="flexible-memory-management">
        <div class="v-top tc-l">
          <img src="/static/images/ram-memory.svg" alt="{{fluent "embedded-pitch-memory-alt"}}"
            class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            {{fluent "embedded-pitch-memory-heading"}}
          </h3>
          <p class="flex-grow-1">
            {{fluent "embedded-pitch-memory-description"}}
          </p>
          <a href="https://docs.rust-embedded.org/book/collections/" class="button button-secondary">{{fluent "embedded-learn-more-link"}}</a>
        </div>
      </div>


      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l" id="flexible-memory-management">
        <div class="v-top tc-l">
          <img src="/static/images/gears.svg" alt="{{fluent "embedded-pitch-concurrency-alt"}}"
            class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="v-top tc-l">
            {{fluent "embedded-pitch-concurrency-heading"}}
          </h3>

          <p class="flex-grow-1">
            {{fluent "embedded-pitch-concurrency-description"}}
          </p>
          <a href="https://docs.rust-embedded.org/book/concurrency/" class="button button-secondary">{{fluent "embedded-learn-more-link"}}</a>
        </div>
      </div>
    </div>
  
    <div class="flex-none flex-l flex-row mt5-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l" id="interoperability">
        <div class="v-top tc-l">
          <img src="/static/images/handshake.svg" alt="{{fluent "embedded-pitch-interop-alt"}}"
            class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            {{fluent "embedded-pitch-interop-heading"}}
          </h3>
          <p class="flex-grow-1">
            {{fluent "embedded-pitch-interop-description"}}
          </p>
          <a href="https://docs.rust-embedded.org/book/interoperability/" class="button button-secondary">{{fluent "embedded-learn-more-link"}}</a>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l" id="portability">
        <div class="v-top tc-l">
          <img src="/static/images/luggage.svg" alt="{{fluent "embedded-pitch-portability-alt"}}"
            class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">{{fluent "embedded-pitch-portability-heading"}}</h3>

          <p class="flex-grow-1">
            {{fluent "embedded-pitch-portability-description"}}
          </p>
          <a href="https://docs.rust-embedded.org/book/portability/" class="button button-secondary">{{fluent "embedded-learn-more-link"}}</a>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l" id="community-driven">
        <div class="v-top tc-l">
          <img src="/static/images/cli-rustc-approved.svg" alt="{{fluent "embedded-pitch-community-alt"}}" class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">{{fluent "embedded-pitch-community-heading"}}</h3>

          <p class="flex-grow-1">
            {{fluent "embedded-pitch-community-description"}}
          </p>
          <a href="https://github.com/rust-embedded/wg" class="button button-secondary">{{fluent "embedded-learn-more-link"}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
