<section id="embedded-showcase-gallery" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "embedded-showcase-heading"}}</h2>
      <div class="highlight"></div>
    </header>
      <div class="flex flex-column flex-row-l">
        <div class="mw-50-l mh3-l">
          <div>
          {{fluent "embedded-showcase-quote"}}

          <p>{{fluent "embedded-showcase-quote-attribution"}}

          <p><a href="https://github.com/rust-embedded/awesome-embedded-rust" class="button button-secondary">{{fluent "embedded-showcase-see-more-link"}}</a>
          </div>
        </div>
        <div class="mw-50-l mh3-l center">
          <div>
          <iframe src="https://player.vimeo.com/video/224912526?title=0&byline=0&portrait=0" width="500" height="281"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p>{{fluent "embedded-showcase-video-description"}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
