<section id="production" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center">
    <header>
      <h2>{{text embedded-testimonials-heading}}</h2>
      <div class="highlight"></div>
    </header>
    <!-- Testimonials section -->
    <!-- Here we want to show *who* is using Rust and *what* they are building -->
    <div class="testimonials">

      <div class="testimonial flex-none flex-l">
        <div class="w-100 w-30-l tc">
          <a href="https://www.sensirion.com/">
            <img alt="{{text embedded-testimonials-sensirion-alt}}" src="/static/images/user-logos/sensirion.png"/>
          </a>
        </div>
        <div class="w-100 w-70-l" id="sensiron-testimonial">
          <blockquote class="lh-title-ns">
            {{text embedded-testimonials-sensirion-quote}}
          </blockquote>
          <p class="attribution">{{text embedded-testimonials-sensirion-attribution}}</p>
        </div>
      </div>

      <div class="testimonial flex-none flex-l">
        <div class="w-100 w-70-l" id="greig-testimonial">
          <blockquote class="lh-title-ns">
            {{text embedded-testimonials-airborne-quote}}
          </blockquote>
          <p class="attribution">{{text embedded-testimonials-airborne-attribution}}</p>
        </div>
        <div class="w-100 w-30-l tc">
          <a href="http://ael.co.uk">
            <img alt="{{text embedded-testimonials-airborne-alt}}" src="/static/images/user-logos/ael_logo.png"/>
          </a>
        </div>
      </div>

      <div class="testimonial flex-none flex-l">
        <div class="w-100 w-30-l tc">
          <a href="https://49nord.de/">
            <img alt="{{text embedded-testimonials-49nord-alt}}" src="/static/images/user-logos/49nord.svg"/>
          </a>
        </div>
        <div class="w-100 w-70-l" id="brinkmann-testimonial">
          <blockquote class="lh-title-ns">
            {{text embedded-testimonials-49nord-quote}}
          </blockquote>
          <p class="attribution">{{text embedded-testimonials-49nord-attribution}}</p>
        </div>
      </div>

      <div class="testimonial flex-none flex-l">
        <div class="w-100 w-70-l" id="arbuzov-testimonial">
          <blockquote class="lh-title-ns">
            {{text embedded-testimonials-terminal-tech-quote}}
          </blockquote>
          <p class="attribution">{{text embedded-testimonials-terminal-tech-attribution}}</p>
        </div>
        <div class="w-100 w-30-l tc">
          <a href="http://www.termt.eu/">
            <img alt="{{text embedded-testimonials-terminal-tech-alt}}" src="/static/images/user-logos/terminal-technologies.png"/>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
