<section id="wasm-get-started" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "get-started-exclamation"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="flex flex-column flex-row-l pv4 pv0-l">
            <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
                <div class="v-top tc-l">
                    <img src="/static/images/webassembly-logo.svg" alt="{{fluent "wasm-get-started-wasm-alt"}}" class="mw3 mw-100-ns w5-m h4-l" />
                </div>
                <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l pl4-l w-100">
                    <p class="flex-grow-1">
                        {{fluent "wasm-get-started-wasm-description"}}
                    </p>
                    <a href="https://webassembly.org/" class="button button-secondary">{{fluent "wasm-get-started-wasm-link"}}</a>
                </div>
            </div>
            <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
                <div class="v-top tc-l">
                    <img src="/static/images/wasm-ferris.png" alt="{{fluent "wasm-get-started-book-alt"}}" class="mw3 mw-100-ns w5-m h4-l" />
                </div>
                <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l pl4-l w-100">
                    <p class="flex-grow-1">
                        {{fluent "wasm-get-started-book-description"}}
                    </p>
                    <a href="https://rustwasm.github.io/docs/book" class="button button-secondary">{{fluent "wasm-get-started-book-link"}}</a>
                </div>
            </div>
            <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
                <div class="v-top tc-l">
                    <img src="/static/images/mdn-logo.svg" alt="{{fluent "wasm-get-started-mdn-alt"}}" class="mw3 mw-100-ns w5-m h4-l" />
                </div>
                <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l pl4-l w-100">
                    <p class="flex-grow-1">
                        {{fluent "wasm-get-started-mdn-description"}}
                    </p>
                    <a href="https://developer.mozilla.org/en-US/docs/WebAssembly" class="button button-secondary">{{fluent "wasm-get-started-mdn-link"}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
