<section id="wasm-plays-well-with-javascript" class="red">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "wasm-js-heading"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="flex flex-column flex-row-l pv4 pv0-l">
            <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l pl4-l">
                <h3 class="tc-l">{{fluent "wasm-js-augment-heading"}}</h3>
                <p class="flex-grow-1">
                    {{fluent "wasm-js-augment-description"}}
                </p>
            </div>
            <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l pl4-l">
                <h3 class="tc-l">{{fluent "wasm-js-toolchains-heading"}}</h3>
                <p class="flex-grow-1">
                    {{fluent "wasm-js-toolchains-description"}}
                </p>
            </div>
            <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l pl4-l">
                <h3 class="tc-l">{{fluent "wasm-js-interop-heading"}}</h3>
                <p class="flex-grow-1">
                    {{fluent "wasm-js-interop-description"}}
                </p>
            </div>
        </div>
    </div>
</section>
