<section id="production" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "production-use"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
            <div class="testimonial flex flex-row">
                <div class="w-30-l tc pa5">
                  <img src="/static/images/user-logos/cloudflare.svg" alt="{{fluent "wasm-production-cloudflare-alt"}}" />
                </div>
                <div class="w-70-l">
                    <blockquote>
                       {{fluent "wasm-production-cloudflare-quote"}}
                    </blockquote>
                    <p class="attribution">
                        &ndash; {{fluent "wasm-production-cloudflare-attribution" href="https://blog.cloudflare.com/cloudflare-workers-as-a-serverless-rust-platform/"}}
                    </p>
                </div>
            </div>
            <div class="testimonial flex flex-row">
                <div class="w-70-l">
                    <blockquote>
                        {{fluent "wasm-production-mozilla-quote"}}
                    </blockquote>
                    <p class="attribution">
                        &ndash; {{fluent "wasm-production-mozilla-attribution" href="https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/"}}
                    </p>
                </div>
                <div class="w-30-l tc pa3">
                    <a href="https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/" class="db">
                        <img src="/static/images/firefox.png" alt="{{fluent "wasm-production-mozilla-alt"}}" />
                    </a>
                </div>
            </div>
            <div class="testimonial flex flex-row">
                <div class="w-30-l tc pa5">
                  <img src="/static/images/dropbox.svg" alt="{{fluent "wasm-production-dropbox-alt"}}" />
                </div>
                <div class="w-70-l">
                    <blockquote>
                        {{fluent "wasm-production-dropbox-quote"}}
                    </blockquote>
                    <p class="attribution">
                        &ndash; {{fluent "wasm-production-dropbox-attribution" href="https://blogs.dropbox.com/tech/2018/06/building-better-compression-together-with-divans/"}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
