{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{text coc-page-heading}}</h1>
  </div>
</header>

<section id="code-of-conduct" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text coc-conduct-heading}}</h2>
      <div class="highlight"></div>
    </header>
    {{#text coc-conduct-description}}
      {{#textparam coc-rust-moderation-team-anchor}}
        <a href="{{baseurl}}/governance/teams/moderation">{{text coc-conduct-description-team-anchor-text}}</a>
      {{/textparam}}
    {{/text}}
    <p><a class="button button-secondary" href="mailto:rust-mods@rust-lang.org">{{text coc-conduct-email-button}}</a></p>
  </div>
</section>

<section id="moderation" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text coc-moderation-heading}}</h2>
      <div class="highlight"></div>
    </header>
    {{#text coc-moderation-description}}
      {{#textparam coc-rust-moderation-team-anchor}}
        <a href="{{baseurl}}/governance/teams/moderation">{{text coc-moderation-description-team-anchor-text}}</a>
      {{/textparam}}
    {{/text}}
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
