{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{text policies-page-title}}</h1>
  </div>
</header>

<section id="policies-index" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <p>{{text policies-page-description}}</p>
    <ul>
      <li><a href="{{baseurl}}/policies/code-of-conduct">{{text policies-code-of-conduct-link}}</a></li>
      <li><a href="{{baseurl}}/policies/licenses">{{text policies-licenses-link}}</a></li>
      <li><a href="{{baseurl}}/policies/media-guide">{{text policies-media-guide-link}}</a></li>
      <li><a href="{{baseurl}}/policies/security">{{text policies-security-link}}</a></li>
    </ul>
    <p>{{text policies-reach-out-description}}</p>
    <p><a href="mailto:core@rust-lang.org" class="button button-secondary">{{text policies-reach-out-link}}</a></p>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
