{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "policies-page-title"}}</h1>
  </div>
</header>

<section id="policies-index" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <p>{{fluent "policies-page-description"}}</p>
    <ul>
      <li><a href="{{baseurl}}/policies/code-of-conduct">{{fluent "policies-code-of-conduct-link"}}</a></li>
      <li><a href="{{baseurl}}/policies/licenses">{{fluent "policies-licenses-link"}}</a></li>
      <li><a href="https://foundation.rust-lang.org/policies/logo-policy-and-media-guide/">{{fluent "policies-media-guide-link"}}</a></li>
      <li><a href="{{baseurl}}/policies/security">{{fluent "policies-security-link"}}</a></li>
      <li><a href="https://foundation.rust-lang.org/policies/privacy-policy/">{{fluent "policies-privacy-link"}}</a></li>
    </ul>
    <p>{{fluent "policies-reach-out-description"}}</p>
    <p><a href="mailto:council@rust-lang.org" class="button button-secondary">{{fluent "policies-reach-out-link"}}</a></p>
  </div>
</section>

{{/inline}}
{{~> (lookup this "parent")~}}
