{{#* inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "policies-media-guide-page-title"}}</h1>
  </div>
</header>

{{#if is_translation}}
<section id="translation-warning" class="green pv4">
  <div class="w-100 mw-none ph3 pw8-m mw9-l center f3">
    <p class="mb0">
      {{#fluent "policies-translation-warning"}}
        {{#fluentparam "english"}}/policies/media-guide{{/fluentparam}}
      {{/fluent}}
    </p>
  </div>
</section>
{{/if}}

<section id="art-license" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "media-guide-art-license-heading"}}</h2>
      <div class="highlight"></div>
    </header>
    {{fluent "media-guide-art-license-description"}}
  </div>
</section>

<section id="trademark-policy" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "media-guide-trademark-policy-heading"}}</h2>
      <div class="highlight"></div>
    </header>
    {{fluent "media-guide-trademark-policy-description"}}
  </div>
</section>

<section id="rust-trademarks" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "media-guide-rust-trademarks-heading"}}</h2>
      <div class="highlight"></div>
    </header>
    {{fluent "media-guide-rust-trademarks-description"}}
  </div>
</section>

<section id="using-the-trademarks" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "media-guide-tm-use-heading"}}</h2>
      <div class="highlight"></div>
    </header>
    <h3 id="appearing-official-affiliated-or-endorsed">{{fluent "media-guide-tm-use-appearance-heading"}}</h3>
    {{fluent "media-guide-tm-use-appearance-description"}}
    <h3 id="the-basics-referring-to-rustcargo">{{fluent "media-guide-tm-use-basics-heading"}}</h3>
    {{fluent "media-guide-tm-use-basics-description"}}
    <h3 id="uses-that-do-not-require-explicit-approval">{{fluent "media-guide-tm-use-implicit-approval-heading"}}</h3>
    {{fluent "media-guide-tm-use-implicit-approval-description"}}
    <h3 id="uses-that-require-explicit-approval">{{fluent "media-guide-tm-use-explicit-approval-heading"}}</h3>
    {{fluent "media-guide-tm-use-explicit-approval-description"}}
  </div>
</section>

<section id="logo-help-out" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "media-guide-helping-out-heading"}}</h2>
      <div class="highlight"></div>
    </header>
    {{fluent "media-guide-helping-out-description"}}
    <a href="mailto:core-team@rust-lang.org" class="button button-secondary">{{fluent "media-guide-helping-out-link"}}</a>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
