{{#*inline "page"}}

<header>
  <div class="container">
    <h1>{{ data.info[0].name }}</h1>
  </div>
</header>

<section id="team-info" class="purple">
  <div class="container">
    <p><strong>{{ data.info[0].description }}</strong></p>
    <p><strong>Chat Channel</strong>: {{ data.info[0].chat }}</p>
    <div class="row">
      <h2>Leads</h2>
      {{#each data.info[0].leads as |lead| ~}}
        <div class="two columns group-member">
          <h3>{{lead}}</h3>
          <img src="https://avatars.githubusercontent.com/{{lead}}" />
        </div>
      {{/each~}}
    </div>
    <div class="row">
      <h2>Members</h2>
    </div>
  </div>
</section>

{{#if data.subteams ~}}
<section id="subteams" class="green">
  <div class="container">
    <header>
      <h2>Subteams</h2>
      <div class="highlight"></div>
    </header>
    <div id="teams">
      {{#each data.subteams as |st| ~}}
        <div class="team row">
          <h3>{{st.name~}}</h3>
          <div id="{{st.name}}-info">
            <p><strong>{{ st.description }}</strong></p>
            <p><strong>Chat Channel</strong>: {{ st.chat }}</p>
          </div>
          <div id="{{st.name}}-leads">
            {{#each st.leads as |lead|}}
              <div class="two columns group-member">
                <h3>{{lead}}</h3>
                <img src="https://avatars.githubusercontent.com/{{lead}}" />
              </div>
            {{/each~}}
          </div>
        </div>
      {{/each~}}
    </div>
  </div>
</section>
{{/if ~}}

{{#if data.subwgs ~}}
<section id="subteams" class="green">
  <div class="container">
    <header>
      <h2>Subteams</h2>
      <div class="highlight"></div>
    </header>
    <div id="teams">
      {{#each data.subwgs as |st| ~}}
        <div class="team row">
          <h3>{{st.name~}}</h3>
          <div id="{{st.name}}-info">
            <p><strong>{{ st.description }}</strong></p>
            <p><strong>Chat Channel</strong>: {{ st.chat }}</p>
          </div>
          <div id="{{st.name}}-leads">
            {{#each st.leads as |lead|}}
              <div class="two columns group-member">
                <h3>{{lead}}</h3>
                <img src="https://avatars.githubusercontent.com/{{lead}}" />
              </div>
            {{/each~}}
          </div>
        </div>
      {{/each~}}
    </div>
  </div>
</section>
{{/if ~}}

{{/inline}}
{{~> (parent)~}}
