{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{ data.info[0].name }}</h1>
  </div>
</header>

<section id="team-info" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <p><b>{{ data.info[0].description }}</b></p>
    {{#if data.info[0].chat}}<p><b>Chat Channel</b>: {{ data.info[0].chat }}</p>{{/if}}
    {{#if data.info[0].repo}}<p><a href="{{data.info[0].repo}}" class="button button-secondary">Team GitHub</a></p>{{/if}}
    {{#if data.info[0].email}}<p><a href="mailto:{{data.info[0].email}}" class="button button-secondary">Email the Team</a></p>{{/if}}
    <div class="row">
      <h2>Members</h2>
      {{#each data.info[0].leads as |lead| ~}}
        <div class="two columns group-lead group-member">
          <p class="name">{{lead}} (Lead)</p>
          <img src="https://avatars.githubusercontent.com/{{lead}}" />
        </div>
      {{/each~}}
      {{#each data.info[0].members as |member|}}
        <div class="two columns group-member">
          <p class="name">{{member}}</p>
          <img src="https://avatars.githubusercontent.com/{{member}}" />
        </div>
      {{/each~}}
    </div>
  </div>
</section>

{{#if data.subteams ~}}
<section id="subteams" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Subteams</h2>
      <div class="highlight"></div>
    </header>
    <div id="teams">
      {{#each data.subteams as |st| ~}}
        <div class="subteam">
          <h3>{{st.name~}}</h3>
          <div id="{{st.name}}-info">
            <p><b>{{ st.description }}</b></p>
            {{#if st.chat}}<p><b>Chat Channel</b>: {{ st.chat }}</p>{{/if}}
            {{#if st.repo}}<p><a href="{{st.repo}}" class="button button-secondary">Team GitHub</a></p>{{/if}}
            {{#if st.email}}<p><a href="mailto:{{st.email}}" class="button button-secondary">Email the Team</a></p>{{/if}}
          </div>
          <div id="{{st.name}}-members">
            {{#each st.leads as |lead|}}
              <div class="two columns group-member">
                <p class="name">{{lead}} (Lead)</p>
                <img src="https://avatars.githubusercontent.com/{{lead}}" />
              </div>
            {{/each~}}
            {{#each st.members as |member|}}
              <div class="two columns group-member">
                <p class="name">{{member}}</p>
                <img src="https://avatars.githubusercontent.com/{{member}}" />
              </div>
            {{/each~}}
          </div>
        </div>
      {{/each~}}
    </div>
  </div>
</section>
{{/if ~}}

{{#if data.subwgs ~}}
<section id="subteams" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>Working Groups</h2>
      <div class="highlight"></div>
    </header>
    <div id="teams">
      {{#each data.subwgs as |st| ~}}
        <div class="subteam">
          <h3>{{st.name~}}</h3>
          <div id="{{st.name}}-info">
            <p><b>{{ st.description }}</b></p>
            {{#if st.chat}}<p><b>Chat Channel</b>: {{ st.chat }}</p>{{/if}}
            {{#if st.email}}<p><a href="mailto:{{st.repo}}" class="button button-secondary">Team GitHub</a></p>{{/if}}
            {{#if st.email}}<p><a href="mailto:{{st.email}}" class="button button-secondary">Email the Team</a></p>{{/if}}
          </div>
          <div id="{{st.name}}-leads">
            {{#each st.leads as |lead|}}
              <div class="two columns group-member">
                <p class="name">{{lead}}</p>
                <img src="https://avatars.githubusercontent.com/{{lead}}" />
              </div>
            {{/each~}}
          </div>
        </div>
      {{/each~}}
    </div>
  </div>
</section>
{{/if ~}}

{{/inline}}
{{~> (parent)~}}
