<a id="{{team-text team name}}" name="{{team.name}}"></a>
<div class="w-100 mw-none mw-8-m mw9-l ph3 center f3">
    <header class="pb0 pt5">
        <a class="linkable-subheading" href="#{{team-text team name}}"><h2>{{team-text team name}}</h2></a>
        <div class="highlight"></div>
    </header>
    <div>
        <div class="mv4 flex flex-column flex-row-l justify-between">
            <p class="ma0 f2">{{team-text team description}}</p>
            <div class="flex flex-column ml5-l mt4 mt0-l">
                {{#if team.website_data.email}}
                    <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l">
                        <a class="button button-secondary" href="mailto:{{team.website_data.email}}">
                    {{#fluent "governance-team-email"}}{{#fluentparam "teamname"}}{{team-text team name}}{{/fluentparam}}{{/fluent}}
                        </a>
                    </div>
                {{/if}}
                {{#if team.website_data.repo}}
                    <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l">
                        <a class="button button-secondary" href="{{team.website_data.repo}}">
                        {{#fluent "governance-team-repository"}}{{#fluentparam "teamname"}}{{team-text team name}}{{/fluentparam}}{{/fluent}}
                        </a>
                    </div>
                {{/if}}
                {{#if team.website_data.discord}}
                    <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l">
                        <a class="button button-secondary" href="{{team.website_data.discord.url}}">
                        {{#fluent "governance-team-discord"}}{{#fluentparam "channel"}}{{team.website_data.discord.channel}}{{/fluentparam}}{{/fluent}}
                        </a>
                    </div>
                {{/if}}
                {{#if team.website_data.zulip_stream}}
                    <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l">
                        <a class="button button-secondary" href="{{../data.zulip_domain}}/#narrow/stream/{{encode-zulip-stream team.website_data.zulip_stream}}">
                        {{#fluent "governance-team-zulip"}}{{#fluentparam "stream"}}#{{team.website_data.zulip_stream}}{{/fluentparam}}{{/fluent}}
                        </a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if team.members}}
        <header class="pb4 pt0">
            <h2 class="f2">{{fluent "governance-members-header"}}</h2>
        </header>
        <div class="flex flex-column flex-row-l flex-wrap-l justify-start">
            {{#each team.members as |member|}}
                <div class="flex flex-row w-100 w-50-l mb4 p3">
                    <a class="mr4 w4 h4 flex-shrink-0" href="https://github.com/{{member.github}}">
                        <img class="w-100 h-100 bg-white br2" src="https://avatars.githubusercontent.com/{{member.github}}" alt="{{member.name}}">
                    </a>
                    <div class="flex flex-column w-100">
                        <h3 class="{{#unless member.is_lead}}fw4{{/unless}} ma0 mb2">{{member.name}}</h3>
                        <div>
                        {{#fluent "governance-user-github"}}
                            {{#fluentparam "link"}}
                                <a href="https://github.com/{{member.github}}">{{member.github}}</a>
                            {{/fluentparam}}
                        {{/fluent}}
                        </div>
                        {{#if member.is_lead}}
                            <div>{{fluent "governance-user-team-leader"}}</div>
                        {{else}}
                            {{#if member.roles}}
                                <div>{{team-text team role (lookup member.roles 0)}}</div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
        {{#if team.alumni}}
            <header class="pb3 pt3">
                <h2 class="f2">{{fluent "governance-alumni-header"}}</h2>
            </header>
            <p>{{fluent "governance-alumni-thanks"}}</p>
            <div class="flex flex-column flex-row-l flex-wrap-l justify-start">
                {{#each team.alumni as |member|}}
                <div class="w-100 w-33-l mb3 flex flex-row items-center">
                    <a class="mr4 w3 h3 flex-shrink-0" href="https://github.com/{{member.github}}">
                        <img class="w-100 h-100 bg-white br2" src="https://avatars.githubusercontent.com/{{member.github}}">
                    </a>
                    <div>
                        {{member.name}}
                        <div class="f4">
                            GitHub: <a href="https://github.com/{{member.github}}">{{member.github}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        {{/if}}
    {{/if}}
</div>
