<div class="flex flex-column justify-between w-100 w-33-l mb4 pa3">
    <h3>{{team-text team name}}</h3>
    <p>{{team-text team description}}</p>
    <a href="{{../baseurl}}/governance/{{team.url}}" class="center w-100 mw6 button button-secondary">
        {{fluent "governance-members"}}
    </a>
</div>
