{{#*inline "page"}}

<header>
  <div class="container">
    <h1>Governance</h1>
    <h2 class="subtitle">How Rust is built by its community</h2>
  </div>
</header>

<section id="roadmap" class="red">
  <div class="container">
    <header>
      <h2>Roadmap and RFC process</h2>
      <div class="highlight"></div>
    </header>
    <div class="row">
      <div class="six columns">
        <p>Each major decision in Rust starts as a Request for Comments (RFC).
          Everyone is invited to discuss the proposal, to work toward a shared understanding of the tradeoffs.
          Though sometimes arduous, this community deliberation is Rust's secret sauce for quality.
        </p>
        <a href="https://github.com/rust-lang/rfcs" target="_blank" rel="noopener" class="button button-secondary">Learn more</a>
      </div>
      <div class="six columns">
        <p>The RFC process is also used to establish a yearly roadmap laying out our aspirations for that year.
          This shared vision is essential for keeping the development process focused.
        </p>
        <a href="https://blog.rust-lang.org/2018/03/12/roadmap.html" target="_blank" rel="noopener" class="button button-secondary">Read the 2018
          Roadmap</a>
      </div>
    </div>
</section>

<section id="teams-and-working-groups" class="purple">
  <div class="container">
    <header>
      <h2>Teams and Working Groups</h2>
      <div class="highlight"></div>
    </header>
    <p>Each aspect of the Rust project is managed by a dedicated leadership team:</p>
    <h3>Teams</h3>
    <div id="teams" class="row">
      {{#each data.teams as |team| ~}}
        <div class="team">
          <h4>{{team.name~}}</h4>
          <p>{{team.description}}</p>
          <a href="/governance/teams/{{team.route}}" class="button button-secondary">Learn More</a>
        </div>
      {{/each~}}
    </div>
    <hr/>
    <h3>Working Groups</h3>
    <div id="wgs" class="row">
      {{#each data.wgs as |wg| ~}}
        <div class="team">
          <h4>{{wg.name~}}</h4>
          <p>{{wg.description}}</p>
          <a href="/governance/wgs/{{wg.route}}" class="button button-secondary">Learn More</a>
        </div>
      {{/each~}}
    </div>
  </div>
</section>

<section id="sustainability" class="white">
  <div class="container">
    <header>
      <h2>Sustainability and support</h2>
      <div class="highlight"></div>
    </header>
    <p>The Rust project belongs to its community of stakeholders, not to any one company or organization.
      It's built by a worldwide group of volunteers, students, and paid contributors.
      Organizations that benefit from Rust give back by allocating employee time to Rust contribution
      or by sponsoring community efforts.
      There are people working part- and full-time on Rust at a half dozen companies, big and small.
    </p>
    <a href="/policies/code-of-conduct" class="button button-secondary">Learn More</a>
  </div>
</section>

<section id="community-standards" class="green">
  <div class="container">
    <header>
      <h2>Community standards</h2>
      <div class="highlight"></div>
    </header>
    <p>Rust <i>is</i> its community, and so it's vital that its culture reflect the project's values:
      inclusivity, empowerment, kindness, and careful deliberation. We have a Code of Conduct and a Moderation Team to
      enforce it, but in official venues we strive to go beyond that and treat each other with the highest standards of
      empathy and respect.</p>
    <a href="/policies/code-of-conduct" class="button button-secondary">Learn More</a>
</section>

{{/inline}}
{{~> (parent)~}}
