{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "governance-page-title"}}</h1>
    <h2 class="f2 f1-ns mt0">{{fluent "governance-tagline"}}</h2>
  </div>
</header>

<section id="roadmap" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "governance-roadmap-rfc"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div class="mw8 flex flex-column justify-between pt0 bp2 pv3-ns ph3-l">
        <p>{{fluent "governance-rfc-blurb"}}
        </p>
        <a href="https://github.com/rust-lang/rfcs" class="button button-secondary">{{fluent "learn-more"}}</a>
      </div>
      <div class="mw8 flex flex-column justify-between pt0 bp2 pv3-ns ph3-l">
        <p> {{fluent "governance-roadmap-blurb"}}
        </p>
        <a href="https://blog.rust-lang.org/2019/04/23/roadmap.html" class="button button-secondary">{{fluent "governance-roadmap-read"}}</a>
      </div>
    </div>
  </div>
</section>

<section id="teams" class="purple">
    <div class="w-100 mw-none ph3 mw-8-m mw9-l center f3">
        <header>
            <h2>{{fluent "governance-teams-header"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="flex flex-column flex-row-l flex-wrap-l justify-start tc">
            {{#each data.teams as |team| ~}}
                {{> governance/index-team}}
            {{/each~}}
        </div>
    </div>
</section>

<section id="working-groups" class="green">
    <div class="w-100 mw-none ph3 mw-8-m mw9-l center f3">
        <header>
            <h2>{{fluent "governance-wgs-header"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="flex flex-column flex-row-l flex-wrap-l justify-start tc">

            {{#each data.wgs as |team| ~}}
                {{> governance/index-team}}
            {{/each~}}
        </div>
    </div>
</section>

{{/inline}}
{{~> (parent)~}}
