<div class="flex-none flex-m flex-l flex-wrap">
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://code.visualstudio.com/docs/languages/rust"
       class="button button-secondary">{{fluent "tools-editor-vscode"}}</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://github.com/rust-lang/rust-enhanced"
       class="button button-secondary">{{fluent "tools-editor-sublime"}}</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://jetbrains.com/rust"
       class="button button-secondary">{{fluent "tools-editor-rover"}}</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://projects.eclipse.org/projects/tools.corrosion"
       class="button button-secondary">{{fluent "tools-editor-eclipse"}}</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://github.com/rust-lang/rust.vim"
       class="button button-secondary">{{fluent "tools-editor-vim"}}</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://github.com/rust-lang/rust-mode"
       class="button button-secondary">{{fluent "tools-editor-emacs"}}</a>
  </div>
  <div class="w-25-l w-50-m w-100 pa3">
    <a href="https://rust-analyzer.github.io/manual.html#visual-studio-2022"
       class="button button-secondary">{{fluent "tools-editor-visual-studio"}}</a>
  </div>
</div>
