<div class="row">
  <div id="platform-instructions-unix" class="instructions db">
    <p>{{fluent "tools-rustup-unixy"}}</p>
    <div class="pre-copy-wrap">
      <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
      <button class="copy-code-btn" type="button" aria-label="Copy install command to clipboard">
        <img class="copy-icon" src="{{baseurl_assets}}/static/images/copy.svg" alt="" aria-hidden="true" width="14" height="14">
        <img class="check-icon" src="{{baseurl_assets}}/static/images/check.svg" alt="" aria-hidden="true" width="14" height="14">
        <span class="copy-code-btn__text">Copy</span>
      </button>
    </div>
  </div>
  <div id="platform-instructions-win" class="instructions dn">
    <p>{{fluent "tools-rustup-windows-2"}}</p>
    <div class="mw9 center ph3-ns">
    <div class="cf ph2-ns flex flex-column flex-row-l justify-between">
      <div class="fl w-33-l w-100 pa2">
      <a href="https://static.rust-lang.org/rustup/dist/i686-pc-windows-msvc/rustup-init.exe" class="button button-secondary">{{fluent "install-rustup32-button"}}</a>
      </div>
      <div class="fl w-33-l w-100 pa2">
      <a href="https://static.rust-lang.org/rustup/dist/x86_64-pc-windows-msvc/rustup-init.exe" class="button button-secondary">{{fluent "install-rustup64-button"}}</a>
      </div>
      <div class="fl w-33-l w-100 pa2">
      <a href="https://static.rust-lang.org/rustup/dist/aarch64-pc-windows-msvc/rustup-init.exe" class="button button-secondary">{{fluent "install-rustup-arm64-button"}}</a>
      </div>
    </div>
  </div>
  <h3 class="mt4">{{fluent "tools-rustup-wsl-heading"}}</h3>
  <p>{{fluent "tools-rustup-wsl"}}</p>
  <div class="pre-copy-wrap">
    <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
    <button class="copy-code-btn" type="button" aria-label="Copy WSL install command to clipboard">
      <img class="copy-icon" src="{{baseurl_assets}}/static/images/copy.svg" alt="" aria-hidden="true" width="14" height="14">
      <img class="check-icon" src="{{baseurl_assets}}/static/images/check.svg" alt="" aria-hidden="true" width="14" height="14">
      <span class="copy-code-btn__text">Copy</span>
    </button>
  </div>
  </div>
  <div id="platform-instructions-default" class="instructions dn">
    <div>
      <p>
        {{fluent "tools-rustup-manual-default"}}
      </p>
      <div class="pre-copy-wrap">
        <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
        <button class="copy-code-btn" type="button" aria-label="Copy install command to clipboard">
          <img class="copy-icon" src="{{baseurl_assets}}/static/images/copy.svg" alt="" aria-hidden="true" width="14" height="14">
          <img class="check-icon" src="{{baseurl_assets}}/static/images/check.svg" alt="" aria-hidden="true" width="14" height="14">
          <span class="copy-code-btn__text">Copy</span>
        </button>
      </div>
    </div>
    <hr class="white-hr" />
    <div>
      <p>
        {{fluent "tools-rustup-manual-default-windows"}}
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{assets.js.tools_install}}"></script>
