<div class="row">
  <div id="platform-instructions-unix" class="instructions db">
    <p>{{fluent "tools-rustup-unixy"}}</p>
    <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
  </div>
  <div id="platform-instructions-win" class="instructions dn">
    <p>{{fluent "tools-rustup-windows-2"}}</p>
    <div class="mw9 center ph3-ns">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa2">
      <a href="https://static.rust-lang.org/rustup/dist/i686-pc-windows-msvc/rustup-init.exe" class="button button-secondary">{{fluent "install-rustup32-button"}}</a>
      </div>
      <div class="fl w-100 w-50-ns pa2">
      <a href="https://static.rust-lang.org/rustup/dist/x86_64-pc-windows-msvc/rustup-init.exe" class="button button-secondary">{{fluent "install-rustup64-button"}}</a>
      </div>
    </div>
  </div>
  <h3 class="mt4">{{fluent "tools-rustup-wsl-heading"}}</h3>
  <p>{{fluent "tools-rustup-wsl"}}</p>
  <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
  </div>
  <div id="platform-instructions-unknown" class="instructions dn">
    <!-- unrecognized platform: ask for help -->
    <p>
      {{fluent "tools-rustup-unknown"}}
    </p>
    <div class="install-details code">
      <div>navigator.platform:
        <span id="nav-plat">MacIntel</span>
      </div>
      <div>navigator.appVersion:
        <span id="nav-app">5.0 (Macintosh)</span>
      </div>
    </div>
    <br/>
    <a href="https://github.com/rust-lang/www.rust-lang.org/issues/new" class="button button-secondary">{{fluent "tools-rustup-report"}}</a>
    <hr/>
    <div>
      <p>
        {{fluent "tools-rustup-manual-unixy"}}
      </p>
      <code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code>
    </div>
    <hr>
    <div>
      <p>
        {{fluent "tools-rustup-manual-windows"}}
      </p>
    </div>
  </div>
  <div id="platform-instructions-default" class="instructions dn">
    <div>
      <p>
        {{tools-rustup-manual-default}}
      </p>
      <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
    </div>
    <hr>
    <div>
      <p>
        {{fluent "tools-rustup-manual-default-windows"}}
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{assets.js.app}}"></script>
