<div class="row">
  <div id="platform-instructions-unix" class="instructions db">
    <p>{{text tools-rustup-unixy}}</p>
    <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
  </div>
  <div id="platform-instructions-win" class="instructions dn">
    <p>{{text tools-rustup-windows}}</p>
    <a href="https://win.rustup.rs" class="button button-secondary">rustup‑init.exe</a>
    <p><b>{{text tools-rustup-wsl-heading}}</b></p>
    <p>{{text tools-rustup-wsl}}</p>
    <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
  </div>
  <div id="platform-instructions-unknown" class="instructions dn">
    <!-- unrecognized platform: ask for help -->
    <p>
      {{text tools-rustup-unknown}}
    </p>
    <div class="install-details code">
      <div>navigator.platform:
        <span id="nav-plat">MacIntel</span>
      </div>
      <div>navigator.appVersion:
        <span id="nav-app">5.0 (Macintosh)</span>
      </div>
    </div>
    <br/>
    <a href="https://github.com/rust-lang/www.rust-lang.org/issues/new" class="button button-secondary">{{text tools-rustup-report}}</a>
    <hr/>
    <div>
      <p>
        {{text tools-rustup-manual-unixy}}
      </p>
      <code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code>
    </div>
    <hr>
    <div>
      <p>
        {{text tools-rustup-manual-windows}}
      </p>
    </div>
  </div>
  <div id="platform-instructions-default" class="instructions dn">
    <div>
      <p>
        {{tools-rustup-manual-default}}
      </p>
      <pre><code class="db w-100">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</code></pre>
    </div>
    <hr>
    <div>
      <p>
        {{text tools-rustup-manual-default-windows}}
      </p>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{assets.js.app}}"></script>
