{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{text sponsors-page-title}}</h1>
  </div>
</header>

<section class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">

    <p>
      {{text sponsors-description}}
    </p>

    <p>
      {{text sponsors-caveat}}
    </p>

    <div class="flex-none flex-l mt5-l">
      <div class="w-100 w-30-l tc">
        <img alt="{{text sponsors-microsoft-alt}}" src="/static/images/sponsor-logos/microsoft.png" />
      </div>
      <div class="w-100 w-70-l">
        <h3>Microsoft Azure</h3>
        <p>
          {{text sponsors-microsoft}}
        </p>
      </div>
    </div>

    <hr noshade size="1"/>

    <div class="flex-none flex-l mt5-l">
      <div class="w-100 w-30-l tc">
        <img alt="{{text sponsors-aws-alt}}" src="/static/images/sponsor-logos/aws.png" />
      </div>
      <div class="w-100 w-70-l">
        <h3>AWS</h3>
        <p>
          {{text sponsors-aws}}
        </p>
      </div>
    </div>

    <hr noshade size="1"/>

    <div class="flex-none flex-l mt5-l">
      <div class="w-100 w-30-l tc">
        <img alt="{{text sponsors-mozilla-alt}}" src="/static/images/sponsor-logos/mozilla.png" />
      </div>
      <div class="w-100 w-70-l">
        <h3>Mozilla</h3>
        <p>
          {{text sponsors-mozilla}}
        </p>
      </div>
    </div>

  </div>
</section>

<section class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3 flex-l">
    <div class="w-50-l mr4-l" id="supporting-rust">
      <header>
        <h2>{{text sponsors-support}}</h2>
        <div class="highlight"></div>
      </header>
      <p>{{text sponsors-sponsor}}</p>
      <a href="mailto:core@rust-lang.org" class="button button-secondary">{{text sponsors-contact-core}}</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
