{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "sponsors-page-title"}}</h1>
  </div>
</header>

<section class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">

    <p>
      {{fluent "sponsors-description"}}
    </p>

    <p>
      {{fluent "sponsors-caveat"}}
    </p>

    {{#each data as |sponsor|}}
    {{#if sponsor.is_not_first}}
    <hr size="1" noshade class="mv4">
    {{/if}}
    <div class="flex-none flex-l mt5-l">
      <div class="mv3 mv0-ns w-100 w-30-l tc flex items-center justify-center">
        <img class="ph5 {{#if sponsor.vertical_logo}}max-height-10rem{{else}}max-height-5rem{{/if}}" alt="{{sponsor.logo_alt_i18n}}" src="{{sponsor.logo_path}}" />
      </div>
      <div class="w-100 w-70-l">
        <h3>{{sponsor.name}}</h3>
        <p>
          {{{sponsor.description_i18n}}}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</section>

<section class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3 flex-l">
    <div class="w-50-l mr4-l" id="supporting-rust">
      <header>
        <h2>{{fluent "sponsors-support"}}</h2>
        <div class="highlight"></div>
      </header>
      <p>{{fluent "sponsors-sponsor"}}</p>
      <a href="mailto:core@rust-lang.org" class="button button-secondary">{{fluent "sponsors-contact-core"}}</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
