{{#*inline "page"}}

<header class="mt3 mt2-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "community-page-title"}}</h1>
  </div>
</header>

<section id="contribute-talk" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "community-where"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div class="w-33-l mh3-l pt0 flex flex-column justify-start" id="users-forum">
        <div>
          <h3 class="mt0 mb4">{{fluent "community-urlo-header"}}</h3>
          <p>
            {{fluent "community-urlo"}}
          </p>
        </div>

        <span class="dn-l">
          <a href="https://users.rust-lang.org" class="button button-secondary">{{fluent "community-discourse-button"}}</a>
        </span>
      </div>

      <div class="w-33-l mh3-l pt4 pt0-l flex flex-column justify-start" id="internals-forum">
        <div>
          <h3 class="mt0 mb4">{{fluent "community-irlo-header"}}</h3>
          <p>
            {{fluent "community-irlo"}}
          </p>
        </div>

        <span class="dn-l">
          <a href="https://internals.rust-lang.org" class="button button-secondary">{{fluent "community-discourse-button"}}</a>
        </span>
      </div>

      <div class="w-33-l mh3-l pt4 pt0-l flex flex-column justify-start" id="chat-platforms">
        <div>
          <h3 class="mt0 mb4">{{fluent "community-chat-header"}}</h3>
          <p>
            {{fluent "community-chat"}}
          </p>
        </div>

        {{!-- TODO: remove padding and margin once global declarations are gone --}}
        <ul class="list pa0 ma0 dn-l">
          <li class="mb3">
            <a href="https://discord.gg/rust-lang" class="button button-secondary">{{fluent "discord"}}</a>
          </li>
          <li class="mb3">
            <a href="https://rust-lang.zulipchat.com" class="button button-secondary">{{fluent "zulip"}}</a>
          </li>
          <li class="mb3">
            <a href="{{baseurl}}/governance" class="button button-secondary">{{fluent "community-teams-learn"}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="dn db-l">
      <div class="flex flex-column flex-row-l">
        <div class="w-33-l mh3-l pt0 flex flex-column justify-start" id="users-forum">
          <a href="https://users.rust-lang.org" class="button button-secondary">{{fluent "community-discourse-button"}}</a>
        </div>

        <div class="w-33-l mh3-l pt4 pt0-l flex flex-column justify-start" id="internals-forum">
          <a href="https://internals.rust-lang.org" class="button button-secondary">{{fluent "community-discourse-button"}}</a>
        </div>

      <div class="w-33-l mh3-l pt4 pt0-l flex flex-column justify-start" id="chat-platforms">
        {{!-- TODO: remove padding and margin once global declarations are gone --}}
        <ul class="list pa0 ma0">
          <li class="mb3">
            <a href="https://discord.gg/rust-lang" class="button button-secondary">{{fluent "discord"}}</a>
          </li>
          <li class="mb3">
            <a href="https://rust-lang.zulipchat.com" class="button button-secondary">{{fluent "zulip"}}</a>
          </li>
          <li class="mb3">
            <a href="{{baseurl}}/governance" class="button button-secondary">{{fluent "community-teams-learn"}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3 f2-s">
    <header>
        <h2>{{fluent "community-learn"}}</h2>
        <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div class="w-50-l mh2-l min-h-100-l pt0 flex flex-column justify-start">
        <div>
          <h2>{{fluent "community-read-about"}}</h2>
          <p>
            {{fluent "community-blurb"}}
          </p>
          <p>
            {{fluent "community-twir"}}
          </p>
        </div>
        <span class="dn-l">
          <a href="https://this-week-in-rust.org/" class="button button-secondary mb3">{{fluent "community-twir-button"}}</a>
        </span>
      </div>
      <div class="w-50-l mh2-l min-h-100-l pt0 flex flex-column justify-start">
        <div>
          <h2>{{fluent "community-get-in-contact"}}</h2>
          <p>
            {{fluent "community-team-contact"}}
          </p>
        </div>
        <span class="dn-l">
          <a href="mailto:community@rust-lang.org" class="button button-secondary mb3">{{fluent "community-team-button"}}</a>
        </span>
      </div>
    </div>
    <div class="dn db-l">
      <div class="flex flex-column flex-row-l">
        <div class="w-50-l mh2-l pt0 flex flex-column justify-start">
          <a href="https://this-week-in-rust.org/" class="button button-secondary mb3">{{fluent "community-twir-button"}}</a>
        </div>

        <div class="w-50-l mh2-l pt4 pt0-l flex flex-column justify-start">
          <a href="mailto:community@rust-lang.org" class="button button-secondary mb3">{{fluent "community-team-button"}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="community-events" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "community-events-header"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div class="mw-50-l mh3-l pt0 flex flex-column justify-between" id="meetups-usergroups">
        <div>
          <h3 class="mt0 mb4">{{fluent "community-meetup-header"}}</h3>
          <p>
            {{fluent "community-meetup"}}
          </p>
        </div>
        <ul class="list ma0 pa0">
          <li class="mb3">
            <a href="https://calendar.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&height=400&wkst=1&bgcolor=%23FFFFFF&src=apd9vmbc22egenmtu5l6c5jbfc%40group.calendar.google.com&color=%23691426&ctz=Europe%2FMadrid"
              class="button button-secondary">{{fluent "community-calendar"}}</a>
          </li>
          <li class="mb3">
            <a href="https://blog.rust-lang.org/2020/01/31/conf-lineup.html"
              class="button button-secondary">{{fluent "community-conference-lineup"}}</a>
          </li>
        </ul>
      </div>
      <div class="mw-50-l mh3-l pt4 pt0-l flex flex-column justify-between" id="conferences">
        <div>
          <h3 class="mt0 mb4">{{fluent "community-event-run-header"}}</h3>
          {{fluent "community-event-run"}}
        </div>
        <ul class="list ma0 pa0">
        <li class="mb3">
          <a href="https://github.com/rust-community/events-team#-rust-events-team" class="button button-secondary">{{fluent "community-events-repo"}}</a>
        </li>
        <li class="mb3">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf52YXGhqBaHtCXtVna4iHYMK7IQaTqUW6V-ztsZC8C2TBInQ/viewform"
            class="button button-secondary">{{fluent "community-event-register"}}</a>
        </li>
        </ul>
      </div>
    </div>
    <img src="/static/images/rustfest.jpg" alt="{{fluent "community-rustfest-alt"}}">
  </div>
</section>

<section id="rustbridge" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "community-rustbridge-header"}}</h2>
      <div class="highlight"></div>
    </header>

    <div class="flex flex-column flex-row-l">
      <div class="mw-33-l mh3-l">
        <img src="/static/images/rustbridge.jpg" alt="rustbridge logo"/>
      </div>
      <div class="mw-67-l mh3-l">
        <p>
          {{fluent "community-rustbridge"}}
        </p>
        <a href="https://github.com/rustbridge/team" class="button button-secondary">{{fluent "community-rustbridge-button"}}</a>
      </div>
    </div>

    <ul class="list ma0 pa0 flex flex-column flex-row-ns flex-wrap-m flex-nowrap-l justify-center">
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-rustconf.jpg" alt="{{fluent "community-rustbridge-rustconf-alt"}}" /></li>
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-paris.jpg" alt="{{fluent "community-rustbridge-paris-alt"}}" /></li>
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-berlin.jpg" alt="{{fluent "community-rustbridge-berlin-alt"}}" /></li>
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-rbr.jpg" alt="{{fluent "community-rustbridge-rbr-alt"}}" /></li>
    </ul>
  </div>
</section>

<section id="conduct" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "community-standards-header"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="f3 f2-l">
      <p>
        {{#fluent "community-standards"}}
          {{#fluentparam "url"}}{{baseurl}}/policies/code-of-conduct{{/fluentparam}}
        {{/fluent}}
      </p>
    </div>

    <div class="flex flex-column flex-row-l justify-between">
      <a href="mailto:rust-mods@rust-lang.org" class="button button-secondary mw-33-l mh3-l w-100 mb3">{{fluent "community-mod-button"}}</a>
      <a href="{{baseurl}}/policies/code-of-conduct" class="button button-secondary mw-33-l mh3-l w-100 mb3">{{fluent "community-coc-button"}}</a>
      <a href="{{baseurl}}/policies/code-of-conduct#moderation" class="button button-secondary mw-33-l mh3-l w-100 mb3">{{fluent "community-mod-guidelines-button"}}</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (lookup this "parent")~}}
