{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{text community-page-title}}</h1>
  </div>
</header>

<section id="community" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3 f2-s">
    <div class="flex flex-column flex-row-l">
      <div class="mw-50-l mh2-l pt0 flex flex-column justify-between-l">
        <p>
         {{text community-blurb}}
        </p>
        <p>
          {{text community-twir}}
        </p>
        <a href="https://this-week-in-rust.org/" class="button button-secondary mb3">{{text community-twir-button}}</a>
      </div>
      <div class="mw-50-l mh2-l pt0 flex flex-column justify-between-l">
        <p>
          {{text community-team-contact}}
        </p>

        <a href="mailto:community@rust-lang.org" class="button button-secondary mb3">{{text community-team-button}}</a>
      </div>
    </div>

  </div>
</section>

<section id="contribute-talk" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text community-where}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div class="mw-33-l mh3-l pt0 flex flex-column justify-start" id="users-forum">
        <div class="flex-grow-1">
          <h3 class="mt0 mb4">{{text community-urlo-header}}</h3>
          <p>
            {{text community-urlo}}
          </p>
        </div>

        <a href="https://users.rust-lang.org" class="button button-secondary">{{text community-discourse-button}}</a>
      </div>

      <div class="mw-33-l mh3-l pt4 pt0-l flex flex-column justify-start" id="internals-forum">
        <div class="flex-grow-1">
          <h3 class="mt0 mb4">{{text community-irlo-header}}</h3>
          <p>
            {{text community-irlo}}
          </p>
        </div>

        <a href="https://internals.rust-lang.org" class="button button-secondary">{{text community-discourse-button}}</a>

      </div>

      <div class="mw-33-l mh3-l pt4 pt0-l flex flex-column justify-start" id="chat-platforms">
        <div class="flex-grow-1">
          <h3 class="mt0 mb4">{{text community-chat-header}}</h3>
          <p>
            {{text community-chat}}
          </p>
        </div>

        {{!-- TODO: remove padding and margin once global declarations are gone --}}
        <ul class="list pa0 ma0">
          <li class="mb3">
            <a href="https://discord.gg/rust-lang" class="button button-secondary">{{text discord}}</a>
          </li>
          <li class="mb3">
            <a href="{{baseurl}}/governance" class="button button-secondary">{{text community-teams-learn}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="community-events" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text community-events-header}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div class="mw-50-l mh3-l pt0 flex flex-column justify-between" id="meetups-usergroups">
        <div>
          <h3 class="mt0 mb4">{{text community-meetup-header}}</h3>
          <p>
            {{text community-meetup}}
          </p>
        </div>
        <ul class="list ma0 pa0">
          <li class="mb3">
            <a href="https://calendar.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&height=400&wkst=1&bgcolor=%23FFFFFF&src=apd9vmbc22egenmtu5l6c5jbfc%40group.calendar.google.com&color=%23691426&ctz=Europe%2FMadrid"
              class="button button-secondary">{{text community-calendar}}</a>
          </li>
          <li class="mb3">
            <a href="https://blog.rust-lang.org/2019/05/20/The-2019-Rust-Event-Lineup.html"
              class="button button-secondary">{{text community-conference-lineup}}</a>
          </li>
          <li class="mb3">
            <a href="https://timetill.rs"
              target="_blank"
              class="button button-secondary">{{text community-timetill-cta}}</a>
          </li>
        </ul>
      </div>
      <div class="mw-50-l mh3-l pt4 pt0-l flex flex-column justify-between" id="conferences">
        <div>
          <h3 class="mt0 mb4">{{text community-event-run-header}}</h3>
          {{text community-event-run}}
        </div>
        <ul class="list ma0 pa0">
        <li class="mb3">
          <a href="https://github.com/rust-community/events-team#-rust-events-team" class="button button-secondary">{{text community-events-repo}}</a>
        </li>
        <li class="mb3">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf52YXGhqBaHtCXtVna4iHYMK7IQaTqUW6V-ztsZC8C2TBInQ/viewform"
            class="button button-secondary">{{text community-event-register}}</a>
        </li>
        </ul>
      </div>
    </div>
    <img src="/static/images/rustfest.jpg" alt="{{text community-rustfest-alt}}">
  </div>
</section>

<section id="rustbridge" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text community-rustbridge-header}}</h2>
      <div class="highlight"></div>
    </header>

    <div class="flex flex-column flex-row-l">
      <div class="mw-33-l mh3-l">
        <img src="/static/images/rustbridge.jpg" alt="rustbridge logo"/>
      </div>
      <div class="mw-67-l mh3-l">
        <p>
          {{text community-rustbridge}}
        </p>
        <a href="https://github.com/rustbridge/team" class="button button-secondary">{{text community-rustbridge-button}}</a>
      </div>
    </div>

    <ul class="list ma0 pa0 flex flex-column flex-row-ns flex-wrap-m flex-nowrap-l justify-center">
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-rustconf.jpg" alt="{{text community-rustbridge-rustconf-alt}}" /></li>
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-paris.jpg" alt="{{text community-rustbridge-paris-alt}}" /></li>
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-berlin.jpg" alt="{{text community-rustbridge-berlin-alt}}" /></dv>
      <li class="tc max-width-half-m ph1-ns mb3"><img src="/static/images/rustbridge-rbr.jpg" alt="{{text community-rustbridge-rbr-alt}}" /></li>
    </ul>
  </div>
</section>

<section id="rustreach" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center">
    <header>
      <h2>{{text community-irr-header}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="w-100 flex flex-column flex-row-l">
      <div class="mw-33-l mh3-l">
        <img src="/static/images/rustreach.jpg" alt="increasing rust's reach logo"/>
      </div>
      <div class="mw-67-l mh3-l">
        <p> {{text community-irr}}
        </p>
        <a href="http://reach.rust-lang.org/" class="button button-secondary">{{text community-irr-button}}</a>
      </div>
    </div>
  </div>
</section>

<section id="conduct" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text community-standards-header}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="f3 f2-l">
      <p>
        {{#text community-standards}}
          {{#textparam url}}{{baseurl}}/policies/code-of-conduct{{/textparam}}
        {{/text}}
      </p>
    </div>

    <div class="flex flex-column flex-row-l justify-between">
      <a href="mailto:rust-mods@rust-lang.org" class="button button-secondary mw-33-l mh3-l w-100 mb3">{{text community-mod-button}}</a>
      <a href="{{baseurl}}/policies/code-of-conduct" class="button button-secondary mw-33-l mh3-l w-100 mb3">{{text community-coc-button}}</a>
      <a href="{{baseurl}}/policies/code-of-conduct#moderation" class="button button-secondary mw-33-l mh3-l w-100 mb3">{{text community-mod-guidelines-button}}</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
