{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "learn-get-started-page-title"}}</h1>
    <h2 class="subtitle">{{fluent "learn-setup"}}</h2>
  </div>
</header>

<section id="installing-rust" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-install-heading"}}</h2>
      <div class="highlight highlight"></div>
    </header>
    <p>{{fluent "learn-play"}}</p>
    <a href="https://play.rust-lang.org/" class="button button-secondary">{{fluent "learn-play-button"}}</a>
    <hr />

    <h3>{{fluent "learn-install-rustup-header"}}</h3>
    <p>{{fluent "learn-install-rustup"}}</p>
    {{> components/tools/rustup }}
    <br />
    <h3>{{fluent "learn-install-rustup-update-header"}}</h3>
    <p>{{#fluent "learn-install-rustup-update"}}{{#fluentparam "update-command"}}<code>rustup update</code>{{/fluentparam}}{{/fluent}}</p>
    <br />
    <a href="{{baseurl}}/tools/install" class="button button-secondary">{{fluent "learn-install-rustup-button"}}</a>
    <hr />

    <h3>{{fluent "learn-install-cargo-header"}}</h3>
    {{fluent "learn-install-cargo"}}
    <a href="https://doc.rust-lang.org/cargo/index.html" class="button button-secondary">{{fluent "learn-install-cargo-button"}}</a>
    <hr />

    <h3>{{fluent "learn-install-other"}}</h3>
    <p>{{fluent "learn-install-editors"}}</p>
    {{> components/tools/editors }}
  </div>
</section>

<section id="generating-new-project" class="red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-generating"}}</h2>
      <div class="highlight"></div>
    </header>
    {{#fluent "learn-generating-steps"}}
    {{#fluentparam "tree"}}
    <pre><code class="plaintext">hello-rust
|- Cargo.toml
|- src
  |- main.rs</code></pre>
    {{/fluentparam}}
    {{#fluentparam "output"}}
    <pre><code class="console">$ cargo run
   Compiling hello-rust v0.1.0 (/Users/ag_dubs/rust/hello-rust)
    Finished dev [unoptimized + debuginfo] target(s) in 1.34s
     Running `target/debug/hello-rust`
Hello, world!</code></pre>
    {{/fluentparam}}
    {{/fluent}}
  </div>
</section>

<section id="installing-dependencies" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-dependencies"}}</h2>
      <div class="highlight"></div>
    </header>
    {{#fluent "learn-dependencies-steps"}}
    {{#fluentparam "cargotoml"}}
      <pre><code>[dependencies]
ferris-says = "0.3.1"</code></pre>
    {{/fluentparam}}
    {{/fluent}}

  </div>
</section>

<section id="a-small-rust-app" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-app"}}</h2>
      <div class="highlight"></div>
    </header>
    {{#fluent "learn-app-steps"}}
    {{#fluentparam "code"}}
<pre><code>use ferris_says::say; // from the previous step
use std::io::{stdout, BufWriter};

fn main() {
    let stdout = stdout();
    let message = String::from("Hello fellow Rustaceans!");
    let width = message.chars().count();

    let mut writer = BufWriter::new(stdout.lock());
    say(&message, width, &mut writer).unwrap();
}</code></pre>
    {{/fluentparam}}
    {{#fluentparam "output"}}
    <pre><code class="plaintext"> __________________________
< Hello fellow Rustaceans! >
 --------------------------
        \
         \
            _~^~^~_
        \) /  o o  \ (/
          '_   -   _'
          / '-----' \</code></pre>
    {{/fluentparam}}
    {{/fluent}}

  </div>
</section>

<section id="read-the-docs" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-read-docs-header"}}</h2>
      <div class="highlight"></div>
    </header>
    <p>{{fluent "learn-read-docs"}}</p>
    <a href="{{baseurl}}/learn" class="button button-secondary">{{fluent "learn-read-docs-button"}}</a>
  </div>
</section>

<section id="ferris" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-ferris-who"}}</h2>
      <div class="highlight"></div>
    </header>
{{fluent "learn-ferris"}}

      <img alt="{{fluent "learn-ferris-alt"}}" width="540" height="180"
           src="/static/images/ferris.gif" />
  </div>
</section>
{{> components/tools/install-script }}
{{/inline}}
{{~> (lookup this "parent")~}}
