{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{text learn-page-title}}</h1>
  </div>
</header>

<section id="learn-begin" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text learn-begin}}</h2>
      <div class="highlight"></div>
    </header>
    <section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow">{{text learn-book}}</p>
          <a class="button button-secondary" href="https://doc.rust-lang.org/book/">{{text learn-book-button}}</a>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow">{{text learn-rustlings}}</p>
          <a class="button button-secondary" href="https://github.com/rust-lang/rustlings/">{{text learn-rustlings-button}}</a>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow">{{text learn-rbe}}</p>
          <a class="button button-secondary" href="https://doc.rust-lang.org/stable/rust-by-example/">{{text learn-rbe-button}}</a>
        </div>
      </div>
    </section>
  </div>
</section>

<section id="learn-use" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2 class="black">
        {{text learn-use}}
      </h2>
      <div class="highlight"></div>
    </header>
    <div class="row black">
      <h3>{{text learn-doc-heading}}</h3>
      <p>{{text learn-doc}}</p>

{{!-- TODO: Remove button-secondary--no-skeleton once Skeleton is completely removed. --}}

      <section class="flex flex-column">
        <div class="pt3 flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/std/index.html"
             class="button button-secondary button-secondary--no-skeleton mw6-l w-100">{{text learn-doc-std-button}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{text learn-doc-std}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/edition-guide/index.html"
             class="button button-secondary button-secondary--no-skeleton mw6-l w-100">{{text learn-doc-edition-button}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{text learn-doc-edition}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/cargo/index.html"
             class="button button-secondary button-secondary--no-skeleton mw6-l w-100">{{text learn-doc-cargo-button}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{text learn-doc-cargo}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/rustdoc/index.html"
             class="button button-secondary button-secondary--no-skeleton mw6-l w-100">{{text learn-doc-rustdoc-button}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{text learn-doc-rustdoc}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/rustc/index.html"
             class="button button-secondary button-secondary--no-skeleton mw6-l w-100">{{text learn-doc-rustc-button}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{text learn-doc-rustc}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/error-index.html"
             class="button button-secondary button-secondary--no-skeleton mw6-l w-100">{{text learn-doc-error-button}}</a>
          <p class="pl4-l mb0 mt1 ma0-l">
            {{text learn-doc-error}}
          </p>
        </div>
      </section>
    </div>
    <hr/>
    <div class="row black">
      <h3>{{text learn-domain}}</h3>
        <section class="flex flex-column">
          <div class="pt3 flex flex-column flex-row-l items-center-l mb4-l">
            <a href="https://rust-lang-nursery.github.io/cli-wg/"
               class="button button-secondary button-secondary--no-skeleton mw6-l w-100">
              {{text learn-domain-cli-button}}
            </a>
            <p class="pl4-l ma0-l mt1 mb3">
              {{text learn-domain-cli}}
            </p>
          </div>

          <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
            <a href="https://rustwasm.github.io/docs/book/"
               class="button button-secondary button-secondary--no-skeleton mw6-l w-100">
              {{text learn-domain-wasm-button}}
            </a>
            <p class="pl4-l ma0-l mt1 mb3">
              {{text learn-domain-wasm}}
            </p>
          </div>

          <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
            <a href="https://rust-embedded.github.io/book/"
               class="button button-secondary button-secondary--no-skeleton mw6-l w-100">
              {{text learn-domain-embedded-button}}
            </a>
            <p class="pl4-l mb0 mt1 ma0-l">
              {{text learn-domain-embedded}}
            </p>
          </div>

        </section>
    </div>
  </div>
</section>

<section id="learn-master" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{text learn-master}}</h2>
      <div class="highlight"></div>
    </header>
    <p>{{text learn-master-text}}</p>
    <section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv4 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/reference.svg" alt="{{text learn-reference-alt}}"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>{{text learn-reference}}</p>
          <a class="button button-secondary"
             href="https://doc.rust-lang.org/reference/index.html">
            {{text learn-reference-button}}
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv4 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/nomicon.svg" alt="{{text learn-nomicon-alt}}"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>{{text learn-nomicon}}</p>

          <a class="button button-secondary"
             href="https://doc.rust-lang.org/nomicon/index.html">
            {{text learn-nomicon-button}}
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv3 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/unstable.svg" alt="{{text learn-unstable-alt}}"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>{{text learn-unstable}}</p>
          <a class="button button-secondary"
             href="https://doc.rust-lang.org/unstable-book/index.html">
            {{text learn-unstable-button}}
          </a>
        </div>
      </div>

    </section>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
