{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "learn-page-title"}}</h1>
  </div>
</header>

<section id="learn-begin" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-begin"}}</h2>
      <div class="highlight"></div>
    </header>
    <section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow-1">{{fluent "learn-book"}}</p>
          <div class="buttons">
            <a class="button button-secondary" href="https://doc.rust-lang.org/book/">{{fluent "learn-book-button"}}</a>
            {{#if (fluent "translated-book")}}<a class="button-additional" href={{fluent "translated-book"}}>{{fluent "translated-book-button"}}</a>{{/if}}
          </div>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow-1">{{fluent "learn-rustlings"}}</p>
          <div class="buttons">
            <a class="button button-secondary" href="https://github.com/rust-lang/rustlings/">{{fluent "learn-rustlings-button"}}</a>
          </div>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow-1">{{fluent "learn-rbe"}}</p>
          <div class="buttons">
            <a class="button button-secondary" href="https://doc.rust-lang.org/stable/rust-by-example/">{{fluent "learn-rbe-button"}}</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<section id="learn-use" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2 class="black">
        {{fluent "learn-use"}}
      </h2>
      <div class="highlight"></div>
    </header>
    <div>
      <h3>{{fluent "learn-doc-heading"}}</h3>
      <p>{{fluent "learn-doc"}}</p>

      <section class="flex flex-column">
        <div class="pt3 flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/std/index.html"
             class="button button-secondary mw6-l w-100">{{fluent "learn-doc-std-button"}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{fluent "learn-doc-std"}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/edition-guide/index.html"
             class="button button-secondary mw6-l w-100">{{fluent "learn-doc-edition-button"}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{fluent "learn-doc-edition"}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/cargo/index.html"
             class="button button-secondary mw6-l w-100">{{fluent "learn-doc-cargo-button"}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{fluent "learn-doc-cargo"}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/rustdoc/index.html"
             class="button button-secondary mw6-l w-100">{{fluent "learn-doc-rustdoc-button"}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{fluent "learn-doc-rustdoc"}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/rustc/index.html"
             class="button button-secondary mw6-l w-100">{{fluent "learn-doc-rustc-button"}}</a>
          <p class="pl4-l ma0-l mt1 mb3">
            {{fluent "learn-doc-rustc"}}
          </p>
        </div>

        <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
          <a href="https://doc.rust-lang.org/error-index.html"
             class="button button-secondary mw6-l w-100">{{fluent "learn-doc-error-button"}}</a>
          <p class="pl4-l mb0 mt1 ma0-l">
            {{fluent "learn-doc-error"}}
          </p>
        </div>
      </section>
    </div>
    <hr/>
    <div>
      <h3>{{fluent "learn-domain"}}</h3>
        <section class="flex flex-column">
          <div class="pt3 flex flex-column flex-row-l items-center-l mb4-l">
            <a href="https://rust-cli.github.io/book/index.html"
               class="button button-secondary mw6-l w-100">
              {{fluent "learn-domain-cli-button"}}
            </a>
            <p class="pl4-l ma0-l mt1 mb3">
              {{fluent "learn-domain-cli"}}
            </p>
          </div>

          <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
            <a href="https://rustwasm.github.io/docs/book/"
               class="button button-secondary mw6-l w-100">
              {{fluent "learn-domain-wasm-button"}}
            </a>
            <p class="pl4-l ma0-l mt1 mb3">
              {{fluent "learn-domain-wasm"}}
            </p>
          </div>

          <div class="pt4 pt3-l flex flex-column flex-row-l items-center-l mb4-l">
            <a href="https://doc.rust-lang.org/embedded-book"
               class="button button-secondary mw6-l w-100">
              {{fluent "learn-domain-embedded-button"}}
            </a>
            <p class="pl4-l mb0 mt1 ma0-l">
              {{fluent "learn-domain-embedded"}}
            </p>
          </div>

        </section>
    </div>
  </div>
</section>

<section id="learn-master" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-master"}}</h2>
      <div class="highlight"></div>
    </header>
    <p>{{fluent "learn-master-text"}}</p>
    <section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv4 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/reference.svg" alt="{{fluent "learn-reference-alt"}}"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>{{fluent "learn-reference"}}</p>
          <a class="button button-secondary"
             href="https://doc.rust-lang.org/reference/index.html">
            {{fluent "learn-reference-button"}}
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv4 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/nomicon.svg" alt="{{fluent "learn-nomicon-alt"}}"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>{{fluent "learn-nomicon"}}</p>

          <a class="button button-secondary"
             href="https://doc.rust-lang.org/nomicon/index.html">
            {{fluent "learn-nomicon-button"}}
          </a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pv3 pv5-m pv6-ns ph4-l">
        <div class="v-top tc-l">
          <img src="/static/images/unstable.svg" alt="{{fluent "learn-unstable-alt"}}"
               class="mw3 mw4-ns" />
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <p>{{fluent "learn-unstable"}}</p>
          <a class="button button-secondary"
             href="https://doc.rust-lang.org/nightly/unstable-book/index.html">
            {{fluent "learn-unstable-button"}}
          </a>
        </div>
      </div>

    </section>
  </div>
</section>

<section id="learn-additional-resources" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "learn-additional-resources"}}</h2>
      <div class="highlight"></div>
    </header>
    <section class="flex flex-column flex-row-l pv0-l">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow-1">{{fluent "learn-additional-resources-api-guidelines"}}</p>
          <div class="buttons">
            <a class="button button-secondary" href="https://rust-lang.github.io/api-guidelines/">{{fluent "learn-additional-resources-api-guidelines-button"}}</a>
          </div>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow-1">{{fluent "learn-additional-resources-design-patterns"}}</p>
          <div class="buttons">
            <a class="button button-secondary" href="https://rust-unofficial.github.io/patterns/">{{fluent "learn-additional-resources-design-patterns-button"}}</a>
          </div>
        </div>
      </div>
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l pb4 pb5-m pb6-ns ph4-l">
        <div class="v-top pl4 pl0-l pt3-l measure-wide-l flex-l flex-column-l flex-auto-l">
          <p class="flex-grow-1">{{fluent "learn-additional-resources-cookbook"}}</p>
          <div class="buttons">
            <a class="button button-secondary" href="https://rust-lang-nursery.github.io/rust-cookbook/">{{fluent "learn-additional-resources-cookbook-button"}}</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
