{{#*inline "member"}}
  <div class="person w-100 w-25-l mb3 flex flex-row items-center">
    <a class="mr4 w4 h4 flex-shrink-0" href="{{baseurl}}/governance/people/{{member.github}}">
      <img class="w-100 h-100 bg-white br2"
           src="https://avatars.githubusercontent.com/{{member.github}}"
           alt="{{member.name}}">
    </a>
    <div class="flex flex-column">
      <a href="{{baseurl}}/governance/people/{{member.github}}">{{member.name}}</a>
      <a href="https://github.com/sponsors/{{member.github}}" class="button button-secondary mt2">Sponsor</a>
    </div>
  </div>
{{/inline}}

{{#*inline "page"}}
  <header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
      <h1>{{fluent "funding-page-title"}}</h1>
    </div>
  </header>

  <section class="purple pb1">
    <div class="w-100 mw-none mw-8-m mw9-l center f1 ph3" style="font-size: 1.2em;">
      <p>{{fluent "funding-intro"}}</p>
    </div>
    <div class="w-100 mw-none mw-8-m mw9-l center f1 ph3" style="font-size: 1.2em;">
      <p>{{fluent "funding-intro-individuals"}}</p>
    </div>
  </section>

  <section class="green pb4">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
      <div id="people" class="flex flex-column flex-row-l flex-wrap-l">
        {{#each data.people as |member|}}
          {{> member member=member baseurl=../baseurl }}
        {{/each}}
      </div>
      <script type="text/javascript" src="{{assets.js.funding_shuffle}}"></script>
    </div>
  </section>
{{/inline}}

{{~> (lookup this "parent")~}}
