{{#*inline "page"}}
<header class="mt3 mb6 w-100 mw-none ph3 mw8-m mw9-l center">
  <div class="flex flex-column flex-row-l">
    <div class="w-70-l mw8-l">
      <h1>{{fluent "rust"}}</h1>
      <h2 class="mt4 mb0 f2 f1-ns">
        {{fluent "tagline" linebreak="<br class='dn db-ns'>"}}
      </h2>
    </div>
    <div class="w-30-l flex-column pl0-l pr0-l pl3 pr3">
      <a class="button button-download ph4 mt0 w-100" href="{{baseurl}}/learn/get-started">
        {{fluent "get-started"}}
      </a>
      <p class="tc f3 f2-l mt3">
        <a href="{{data.rust_release_post}}" class="download-link">{{#fluent "homepage-version"}}{{#fluentparam "number"}}{{data.rust_version}}{{/fluentparam}}{{/fluent}}</a>
      </p>
    </div>
  </div>
</header>

{{> components/panels/language-values }}
{{> components/panels/domains }}
{{> components/panels/production }}
{{> components/panels/get-involved }}
{{> components/panels/thanks }}

{{/inline}}
{{~> (lookup this "parent")~}}
