{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>{{fluent "production-page-title"}}</h1>
  </div>
</header>

<section id="whitepapers" class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "production-whitepapers"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>npm</h3>
        <p>{{fluent "production-npm"}}</p>
        <a class="button button-secondary" href="/static/pdfs/Rust-npm-Whitepaper.pdf">{{fluent "production-read-whitepaper"}}</a>
      </div>
      <div class="mt5 mt0-l mw-50-l ml4-l pt0 flex flex-column justify-between-l">
        <h3>Tilde</h3>
        <p>{{fluent "production-tilde"}}</p>
        <a class="button button-secondary" href="/static/pdfs/Rust-Tilde-Whitepaper.pdf">{{fluent "production-read-whitepaper"}}</a>
      </div>
    </div>
  </div>
</section>

<section id="prod-highlights" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "production-highlights"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex-none flex-l mb5-l">
      <div class="w-100 w-70-l pr5-l">
        <h3>Dropbox</h3>
        <p>
          {{fluent "production-dropbox"}}
        </p>
        <a href="https://www.wired.com/2016/03/epic-story-dropboxs-exodus-amazon-cloud-empire/" class="button button-secondary">{{fluent "production-read-more"}}</a>
      </div>
      <div class="w-100 mv5 mv0-l w-30-l tc">
        <img alt="{{fluent "production-dropbox-alt"}}" src="/static/images/dropbox.svg" />
      </div>
    </div>
    <hr noshade size="1"/>
    <div class="flex-none flex-l mt5-l">
      <div class="w-100 w-30-l tc">
        <img alt="{{fluent "production-yelp-alt"}}" src="/static/images/user-logos/yelp.png" />
      </div>
      <div class="w-100 w-70-l">
        <h3>Yelp</h3>
        <p>
          {{fluent "production-yelp"}}
        </p>
        <a href="https://www.youtube.com/watch?v=u6ZbF4apABk" class="button button-secondary">{{fluent "production-watch-video"}}</a>
      </div>
    </div>
  </div>
</section>

<section class="red" id="share-your-experience">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex-l mt4-l">
      <div class="w-100 w-50-l pr5-l">
        <h3>{{fluent "production-share"}}</h3>
        <a href="mailto:council@rust-lang.org" class="button button-secondary">{{fluent "production-share-button"}}</a>
      </div>
      <div class="w-100 w-50-l mt5 mt0-l">
        <h3>{{fluent "production-users"}}</h3>
        <a href="{{baseurl}}/production/users" class="button button-secondary">{{fluent "production-users-button"}}</a>
      </div>
    </div>
  </div>
</section>

<section class="green" id="production-domains">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h3>{{fluent "production-domain"}}</h3>
    <div class="flex-none flex-l">
      <div class="w-100 ph6 ph0-l w-25-l" id="command-line">
        <div class="domain-icon">
          <img src="/static/images/cli.svg" alt="{{fluent "domains-cli-alt"}}" />
          <h3>{{fluent "domains-cli"}}</h3>
        </div>
        <a href="{{baseurl}}/what/cli#production" class="button button-secondary">{{fluent "learn-more"}}</a>
      </div>
      <div class="w-100 ph6 ph0-l w-25-l ml5-l mt5 mt0-l" id="web-assembly">
        <div class="domain-icon">
          <img src="/static/images/webassembly.svg" alt="{{fluent "domains-wasm-alt"}}" />
          <h3>{{fluent "domains-wasm"}}</h3>
        </div>
        <a href="{{baseurl}}/what/wasm#production" class="button button-secondary">{{fluent "learn-more"}}</a>
      </div>
      <div class="w-100 ph6 ph0-l w-25-l ml5-l mt5 mt0-l" id="networking">
        <div class="domain-icon">
          <img src="/static/images/networking.svg" alt="{{fluent "domains-net-alt"}}" />
          <h3>{{fluent "domains-net"}}</h3>
        </div>
        <a href="{{baseurl}}/what/networking#production" class="button button-secondary">{{fluent "learn-more"}}</a>
      </div>
      <div class="w-100 ph6 ph0-l w-25-l ml5-l mt5 mt0-l" id="embedded">
        <div class="domain-icon">
          <img src="/static/images/embedded.svg" alt="{{fluent "domains-embedded-alt"}}" />
          <h3>{{fluent "domains-embedded"}}</h3>
        </div>
        <a href="{{baseurl}}/what/embedded#production" class="button button-secondary">{{fluent "learn-more"}}</a>
      </div>
    </div>
  </div>
</section>

<section class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3 flex-l">
    <div class="w-50-l mr4-l" id="supporting-rust">
      <header>
        <h2>{{fluent "production-support"}}</h2>
        <div class="highlight"></div>
      </header>
      <p>{{fluent "production-sponsor"}}</p>
      <a href="mailto:council@rust-lang.org" class="button button-secondary">{{fluent "production-contact-core"}}</a>
    </div>
    <div class="w-50-l ml4-l mt5 mt0-l" id="license">
      <header>
        <h2>{{fluent "production-license-header"}}</h2>
        <div class="highlight"></div>
      </header>
      <p>{{fluent "production-license"}}</p>
      <a href="{{baseurl}}/policies/licenses" class="button button-secondary">{{fluent "production-license-link"}}</a>
    </div>
  </div>
</section>

{{/inline}}
{{~> (lookup this "parent")~}}
