{{#*inline "page"}}

<header class="mt3 mt2-ns mb4 mb5-ns tc tl-ns">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <h1>Users</h1>
  </div>
</header>

<section id="users" class="white">
  <div class="container">
    {{#each data as |user_row| ~}}
      <div class="flex flex-column flex-row-l flex-wrap-l justify-start tc">
        {{#each user_row as |u| ~}}
          <div class="flex flex-column justify-between ba br3 b--black mw-100 w-100-l pa3 ma4 max-width-quarter-l">
            <div class="user-logo">
              <a href="{{ u.url }}">
                <img src="/static/images/user-logos/{{ u.logo }}" alt="{{ u.logo }}" />
              </a>
            </div>
            <h4 class="f2 fw6">{{ u.name }}</h4>
            <p>{{{ u.how }}}</p>
          </div>
        {{/each~}}
      </div>
    {{/each~}}
  </div>
</section>

{{/inline}}
{{~> (parent)~}}
