<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr3-ns pb3">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="{{baseurl}}/" class="brand">
      <img class="v-mid ml0-l" alt="{{fluent "nav-logo-alt"}}" src="/static/images/rust-logo-blk.svg">
      {{#unless is_landing}}
        <span class="dib ml1 ml0-l">{{fluent "rust"}}</span>
      {{/unless}}
    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/tools/install">{{fluent "nav-install"}}</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/learn">{{fluent "nav-learn"}}</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="https://play.rust-lang.org/">{{fluent "nav-playground"}}</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/tools">{{fluent "nav-tools"}}</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/governance">{{fluent "nav-governance"}}</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/community">{{fluent "nav-community"}}</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="https://blog.rust-lang.org/">{{fluent "nav-blog"}}</a></li>
  </ul>

  <div class=" w-100 w-auto-l flex-none flex justify-center pv4 pv-0-l languages">
    <div class="select">
      <label for="language-nav" class="hidden">{{fluent "choose-language"}}</label>
      <select id="language-nav" data-current-lang="{{lang}}">
        {{> components/languages-dropdown}}
      </select>
    </div>
  </div>

</nav>
