<section id="cli-use-it" class="red">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "get-started-exclamation"}}</h2>
            <div class="highlight"></div>
        </header>

        <div>
            <p>{{fluent "cli-example-description"}}</p>
        </div>

        <div class="flex-l">
            <article class="flex flex-column w-50-l mr4-l">
                <h3>{{fluent "cli-example-inputs-heading"}}</h3>
                <pre class="mt0 flex flex-grow-1"><code>{{> components/what/cli/code-inputs }}</code></pre>
            </article>

            <article class="flex flex-column w-50-l ml4-l mt5 mt0-l">
                <h3>{{fluent "cli-example-main-heading"}}</h3>
                <pre class="mt0 flex flex-grow-1"><code>{{> components/what/cli/code-main }}</code></pre>
            </article>
        </div>

        <a href="https://rust-cli.github.io/book/index.html" class="button button-secondary">{{fluent "cli-example-link"}}</a>
    </div>
</section>
