<section id="cli-pitch" class="green">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "cli-maintainable-heading"}}</h2>
            <div class="highlight highlight-yellow"></div>
        </header>
        <div class="flex flex-column flex-row-l">
            <article class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
                <header class="domain-icon">
                    <img src="/static/images/cli-app-structure-2.svg" alt="{{fluent "cli-maintainable-errors-img-alt"}}" class="mw3 mw4-ns" />
                    <h3 class="tc-l">{{fluent "cli-maintainable-errors-heading"}}</h3>
                </header>
                <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
                    <p class="flex-grow-1">
                        {{fluent "cli-maintainable-errors-description"}}
                    </p>
                    <a href="https://doc.rust-lang.org/book/ch09-00-error-handling.html" class="button button-secondary">
                        {{fluent "cli-maintainable-errors-link"}}
                    </a>
                </div>
            </article>
            <article class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
                <header class="domain-icon">
                    <img src="/static/images/cli-is-no-rocket-science.svg" alt="{{fluent "cli-maintainable-refactoring-img-alt"}}" class="mw3 mw4-ns" />
                    <h3 class="tc-l">{{fluent "cli-maintainable-refactoring-heading"}}</h3>
                </header>
                <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
                    <p class="box-content">
                        {{fluent "cli-maintainable-refactoring-description"}}
                    </p>
                    <a href="https://doc.rust-lang.org/book/ch12-03-improving-error-handling-and-modularity.html" class="button button-secondary">
                        {{fluent "cli-maintainable-refactoring-link"}}
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>
