<section id="production" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "production-use"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
          <div class="testimonial flex-none flex-l">
                <div class="w-100 w-30-l tc">
                  <img src="/static/images/sentry-logo-black.svg" alt="{{fluent "cli-production-sentry-img-alt"}}"/>
                </div>
                <div class="w-100 w-70-l" id="sentry-testimonial">
                    <blockquote class="lh-title-ns">
                        {{fluent "cli-production-sentry-quote"}}
                    </blockquote>
                    <p class="attribution">
                        {{fluent "cli-production-sentry-attribution"}}
                        <a href="https://www.youtube.com/watch?v=2Xu6EdEBa5E">
                            {{fluent "cli-production-sentry-link"}}
                        </a>
                    </p>
                </div>
            </div>
             <hr/>
            <div class="testimonial flex-none flex-l">
                <div class="w-100 w-70-l" id="habitat-testimonial">
                    <blockquote  class="lh-title-ns">
                        {{fluent "cli-production-habitat-quote"}}
                    </blockquote>
                    <p class="attribution">
                        {{fluent "cli-production-habitat-attribution"}}
                        <a href="https://www.youtube.com/watch?v=zAXbPnfTJg4">
                            {{fluent "cli-production-habitat-link"}}
                        </a>
                    </p>
                </div>
                <div class="w-100 w-30-l tc">
                  <img src="/static/images/habitat.svg" alt="{{fluent "cli-production-habitat-img-alt"}}"/>
                </div>
            </div>
        </div>
    </div>
</section>
