<section class="purple">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>
        {{fluent "domains-title"}}
      </h2>
      <div class="highlight"></div>
    </header>

    <div class="flex-none flex-l flex-row">
      <p class="flex-grow-1 pb2">
        {{fluent "domains-blurb"}}
      </p>
    </div>

    <div class="flex-none flex-l flex-row">
      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l">
        <div class="v-top tc-l">
          <img src="/static/images/cli.svg" alt="{{fluent "domains-cli-alt"}}"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            {{fluent "domains-cli"}}
          </h3>
          <p class="flex-grow-1">
            {{fluent "domains-cli-blurb"}}
          </p>
          <a href="{{baseurl}}/what/cli" class="button button-secondary">{{fluent "cli-learn-more"}}</a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/webassembly.svg" alt="{{fluent "domains-wasm-alt"}}"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            {{fluent "domains-wasm"}}
          </h3>
          <p class="flex-grow-1">
          {{fluent "domains-wasm-blurb"}}
          </p>
          <a href="{{baseurl}}/what/wasm" class="button button-secondary">{{fluent "wasm-learn-more"}}</a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/networking.svg" alt="{{fluent "domains-net-alt"}}"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            {{fluent "domains-net"}}
          </h3>
          <p class="flex-grow-1">
            {{fluent "domains-net-blurb"}}
          </p>
          <a href="{{baseurl}}/what/networking" class="button button-secondary">{{fluent "net-learn-more"}}</a>
        </div>
      </div>

      <div class="flex flex-row flex-column-l justify-between-l mw8 measure-wide-l w-100 mt5 mt2-l pl4-l">
        <div class="v-top tc-l">
          <img src="/static/images/embedded.svg" alt="{{fluent "domains-embedded-alt"}}"
               class="mw3 mw4-ns"/>
        </div>
        <div class="v-top pl4 pl0-l pt0 pt3-l measure-wide-l flex-l flex-column-l flex-auto-l justify-between-l">
          <h3 class="tc-l">
            {{fluent "domains-embedded"}}
          </h3>
          <p class="flex-grow-1">
            {{fluent "domains-embedded-blurb"}}
          </p>
          <a href="{{baseurl}}/what/embedded" class="button button-secondary">{{fluent "embedded-learn-more"}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
