<section class="get-involved red">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header>
      <h2>{{fluent "get-involved"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l">
      <div id="read-rust" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>{{fluent "get-involved-read-rust"}}</h3>
        <p class="flex-grow-1">{{fluent "get-involved-read-rust-blurb"}}</p>
        <a href="learn" class="button button-secondary">{{fluent "get-involved-read-rust-link"}}</a>
      </div>
      <div id="watch-rust" class="mw-50-l pt3 pt0-l flex flex-column justify-between-l">
        <h3>{{fluent "get-involved-watch-rust"}}</h3>
        <p class="flex-grow-1">{{fluent "get-involved-watch-rust-blurb"}}</p>
        <a href="https://www.youtube.com/channel/UCaYhcUwRBNscFNUKTjgPFiA" class="button button-secondary">{{fluent "get-involved-watch-rust-link"}}</a>
      </div>
    </div>
    <div class="pt3">
      <h3>{{fluent "get-involved-contribute"}}</h3>
      <p>
      {{fluent "get-involved-contribute-blurb"}}
      </p>
      <a href="https://rustc-dev-guide.rust-lang.org/getting-started.html" class="button button-secondary">
        {{fluent "get-involved-contribute-link"}}
      </a>
    </div>
  </div>
</section>
