<section id="language-values" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header class="pb0">
      <h2>
        {{text language-values-why-rust}}
      </h2>
      <div class="highlight"></div>
    </header>
    <div class="flex flex-column flex-row-l pv4 pv0-l">
      <section class="flex flex-column mw8 measure-wide-l pv3 pt4-ns pr4-l">
        <h3 class="f2 f1-l">{{text language-values-performance}}</h3>
        <p class="f3 lh-copy">
          {{text language-values-performance-blurb}}
        </p>
      </section>
      <section class="flex flex-column mw8 measure-wide-l pv3 pt4-ns ph3-l">
        <h3 class="f2 f1-l">{{text language-values-reliability}}</h3>
        <p class="f3 lh-copy">
          {{text language-values-reliability-blurb}}
        </p>
      </section>
      <section class="flex flex-column mw8 measure-wide-l pv3 pt4-ns pl4-l">
        <h3 class="f2 f1-l">{{text language-values-productivity}}</h3>
        <p class="f3 lh-copy">
          {{text language-values-productivity-blurb}}
        </p>
      </section>

    </div>
  </div>
</section>
