<section id="language-values" class="green">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <header class="pb0">
      <h2>
        {{fluent "why-rust"}}
      </h2>
      <div class="highlight"></div>
    </header>
    <div class="flex-none flex-l">
      <section class="w-100 pv2 pv0-l mt4">
        <h3 class="f2 f1-l">{{fluent "language-values-performance"}}</h3>
        <p class="f3 lh-copy">
          {{fluent "language-values-performance-blurb"}}
        </p>
      </section>
      <section class="w-100 pv2 pv0-l mt4 mh5-l">
        <h3 class="f2 f1-l">{{fluent "language-values-reliability"}}</h3>
        <p class="f3 lh-copy">
          {{fluent "language-values-reliability-blurb"}}
        </p>
      </section>
      <section class="w-100 pv2 pv0-l mt4">
        <h3 class="f2 f1-l">{{fluent "language-values-productivity"}}</h3>
        <p class="f3 lh-copy">
          {{fluent "language-values-productivity-blurb"}}
        </p>
      </section>

    </div>
  </div>
</section>
