<section class="white production">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center">
    <header>
      <h2>{{fluent "production-title"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="description">
      <p class="lh-copy f2">
        {{fluent "production-blurb"}}
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonial flex-none flex-l">
        <div class="w-100 w-70-l" id="npm-testimonial">
          <blockquote class="lh-title-ns">
            {{fluent "production-testimonial-npm"}}
          </blockquote>
          <p class="attribution">&ndash; {{fluent "production-testimonial-npm-attribution"}}</p>
        </div>
        <div class="w-100 w-30-l tc">
          <a href="https://www.npmjs.com/">
            <img src="/static/images/user-logos/npm.svg" alt="{{fluent "production-testimonial-npm-alt"}}" class="w-33 w-60-ns h-auto" />
          </a>
        </div>
      </div>
      <hr/>
      <div class="testimonial flex-none flex-l">
        <div class="w-100 w-30-l tc">
          <a href="https://www.youtube.com/watch?v=u6ZbF4apABk"><img src="/static/images/user-logos/yelp.png" alt="{{fluent "production-testimonial-yelp-alt"}}" class="w-80" /></a>
        </div>
        <div class="w-100 w-70-l" id="yelp-testimonial">
          <blockquote>
            {{fluent "production-testimonial-yelp"}}
          </blockquote>
          <p class="attribution">&ndash; {{fluent "production-testimonial-yelp-attribution"}}</p>
        </div>
      </div>
    </div>
    <a href="{{baseurl}}/production" class="button button-secondary">{{fluent "learn-more"}}</a>
  </div>
</section>
