<section class="white production">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center">
    <header>
      <h2>{{text production-title}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="description">
      <p class="lh-copy f2">
        {{text production-blurb}}
      </p>
    </div>
    <div class="testimonials">
      <div class="testimonial row">
        <div class="eight columns" id="npm-testimonial">
          <blockquote class="lh-title-ns">
            {{text production-testimonial-npm}}
          </blockquote>
          <p class="attribution">&ndash; {{text production-testimonial-npm-attribution}}</p>
        </div>
        <div class="four columns">
          <a href="https://www.npmjs.com/">
            <img src="/static/images/user-logos/npm.svg" alt="{{text production-testimonial-npm-alt}}" class="w-33 w-60-ns h-auto" />
          </a>
        </div>
      </div>
      <hr/>
      <div class="testimonial row">
        <div class="four columns">
          <a href="https://www.youtube.com/watch?v=u6ZbF4apABk"><img src="/static/images/user-logos/yelp.png" alt="{{text production-testimonial-yelp-alt}}" class="w-80" /></a>
        </div>
        <div class="eight columns" id="yelp-testimonial">
          <blockquote>
            {{text production-testimonial-yelp}}
          </blockquote>
          <p class="attribution">&ndash; {{text production-testimonial-yelp-attribution}}</p>
        </div>
      </div>
    </div>
    <a href="production" class="button button-secondary">{{text production-learn-more}}</a>
  </div>
</section>
