<section class="white thanks">
  <div class="w-100 mw-none ph3 mw8-m mw9-l center">
    <header>
      <h2>{{fluent "thanks-title"}}</h2>
      <div class="highlight"></div>
    </header>
    <div class="description">
      <p class="lh-copy f2">
        {{fluent "thanks-blurb"}}
      </p>
    </div>
    <div class="flex flex-column flex-row-l">
      <div id="individual-code" class="mw-50-l mr4-l pt0 flex flex-column justify-between-l">
        <h3>{{fluent "thanks-individuals-header"}}</h3>
        <p class="flex-grow-1">{{fluent "thanks-individuals-blurb"}}</p>
        <a href="https://thanks.rust-lang.org/" class="button button-secondary">{{fluent "thanks-individuals-link"}}</a>
      </div>
      <div id="company-sponsorships" class="mw-50-l pt3 pt0-l flex flex-column justify-between-l">
        <h3>{{fluent "thanks-companies-header"}}</h3>
        <p class="flex-grow-1">{{fluent "thanks-companies-blurb"}}</p>
        <a href="https://foundation.rust-lang.org/members" class="button button-secondary">{{fluent "thanks-companies-link"}}</a>
      </div>
    </div>
  </div>
</section>
