<section id="networking-get-started" class="red">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "get-started-exclamation"}}</h2>
            <div class="highlight"></div>
        </header>

        <div>
            <p>{{fluent "networking-get-started"}}
            </p>
        </div>

        <div class="flex-l">
            <article class="flex flex-column w-50-l mr4-l">
                <h3>{{fluent "networking-get-started-post-json"}}</h3>
                <pre class="mt0 flex flex-grow-1"><code>{{> components/what/networking/post-json }}</code></pre>

                <a href="https://docs.rs/reqwest/" class="button button-secondary">{{fluent "networking-get-started-reqwest"}}</a>
            </article>

            <article class="flex flex-column  w-50-l ml4-l mt5 mt0-l">
                <h3>{{fluent "networking-get-started-take-json"}}</h3>
                <pre class="mt0 flex flex-grow-1"><code>{{> components/what/networking/take-json }}</code></pre>

                <a href="https://rocket.rs/" class="button button-secondary">{{fluent "networking-get-started-rocket"}}</a>
            </article>
        </div>
    </div>
</section>
