<section id="wasm-why" class="purple">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "why-rust"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="flex-l">
            <div class="w-33-l ph5 ph0-l">
                <div class="domain-icon">
                    <img src="/static/images/feather.svg" alt="{{fluent "networking-pitch-footprint-alt"}}" />
                    <h3>{{fluent "networking-pitch-footprint-header"}}</h3>
                </div>
                <p>
                    {{fluent "networking-pitch-footprint"}}
                </p>
            </div>
            <div class="w-33-l ml5-l ph5 ph0-l mt5 mt0-l">
                <div class="domain-icon">
                    <img src="/static/images/secure-shield.svg" alt="{{fluent "networking-pitch-secure-alt"}}" />
                    <h3>{{fluent "networking-pitch-secure-header"}}</h3>
                </div>
                <p>
                    {{fluent "networking-pitch-secure"}}
                </p>
            </div>
            <div class="w-33-l ml5-l ph5 ph0-l mt5 mt0-l">
                <div class="domain-icon">
                    <img src="/static/images/gears-network.svg" alt="{{fluent "networking-pitch-concurrent-alt"}}" />
                    <h3>{{fluent "networking-pitch-concurrent-header"}}</h3>
                </div>
                <p>
                    {{fluent "networking-pitch-concurrent"}}
                </p>
            </div>
        </div>
    </div>
</section>