<section id="production" class="white">
    <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
        <header>
            <h2>{{fluent "production-use"}}</h2>
            <div class="highlight"></div>
        </header>
        <div class="testimonials">
            <div class="testimonial flex flex-row">
                <div class="w-30-l tc pa5">
                    <img src="/static/images/firefox.png" alt="firefox" />
                </div>
                <div class="w-70-l">
                    <blockquote>{{fluent "networking-production-testimonial-mozilla"}}</blockquote>
                    <p class="attribution">
                        &ndash; {{fluent "networking-production-testimonial-mozilla-attribution"}}
                    </p>
                </div>
            </div>
            <div class="testimonial flex flex-row">
                <div class="w-70-l">
                    <blockquote>{{fluent "networking-production-testimonial-buoyant"}}</blockquote>
                    <p class="attribution">
                        &ndash; {{fluent "networking-production-testimonial-buoyant-attribution" href="https://buoyant.io/"}}
                    </p>
                </div>
                <div class="w-30-l tc pa3">
                    <img src="/static/images/buoyant.svg" alt="buoyant" />
                </div>
            </div>
        </div>
    </div>
</section>
